<footer class="footer">

  <div class="footer-content">

    <div class="footer-brand">
      <h2>SportConnect</h2>

      <p>
        Book premium sports venues in Oradea. Fast, simple and modern.
      </p>

      <div class="socials">
        <a href="#">Instagram</a>
        <a href="#">Facebook</a>
        <a href="#">TikTok</a>
      </div>
    </div>

    <div class="footer-column">
      <h3>Menu</h3>

      <a routerLink="/">Home</a>
      <a routerLink="/" fragment="categories">Find a Court</a>
      <a routerLink="/partner">Become a Partner</a>
      <a routerLink="/account">My Account</a>
      <a routerLink="/my-reservations">My Reservations</a>
    </div>

    <div class="footer-column">
      <h3>Sports</h3>

      <a routerLink="/sport/Fotbal">Football</a>
      <a routerLink="/sport/Tenis">Tennis</a>
      <a routerLink="/sport/Baschet">Basketball</a>
      <a routerLink="/sport/Padel">Padel</a>
      <a routerLink="/sport/Volei">Volleyball</a>
    </div>

    <div class="footer-column">
      <h3>Contact</h3>

      <p>Oradea, Romania</p>
      <p>support@sportconnect.ro</p>
      <p>+40 722 123 456</p>
    </div>

  </div>

  <div class="footer-bottom">
    © 2026 SportConnect. All rights reserved.
  </div>

</footer>