<nav class="navbar">

  <div class="container nav-content">

    <div
      class="logo"
      routerLink="/"
    >
      SportConnect
    </div>

    <div
      class="links"
      [class.active]="menuOpen"
    >

      <a routerLink="/">
        Home
      </a>

      <a
        routerLink="/"
        fragment="categories"
      >
        Find a Court
      </a>

      <a routerLink="/partner">
        Become a Partner
      </a>

      <a
        *ngIf="isLoggedIn"
        routerLink="/account"
      >
        My Account
      </a>

      <a routerLink="/my-reservations">
        My Reservations
      </a>

      <a
        routerLink="/admin"
        *ngIf="isAdmin || isPartner"
      >
        Admin Dashboard
      </a>

    </div>

    <div class="actions">

      <button
        *ngIf="!isLoggedIn"
        class="login-btn"
        routerLink="/login"
      >
        Login
      </button>

      <button
        *ngIf="isLoggedIn"
        class="login-btn logout"
        (click)="logout()"
      >
        Logout
      </button>

      <div
        class="hamburger"
        (click)="toggleMenu()"
      >
        ☰
      </div>

    </div>

  </div>

</nav>