<nav class="navbar">

  <div class="container nav-content">

    <div
      class="logo"
      routerLink="/"
    >
      SportConnect
    </div>

    <div
      class="links"
      [class.active]="menuOpen"
    >

      <a routerLink="/">
        Home
      </a>

      <a
        routerLink="/"
        fragment="categories"
      >
        Găsește un teren
      </a>

      <a routerLink="/partner">
        Devino partener
      </a>

      <a
        *ngIf="isLoggedIn"
        routerLink="/account"
      >
        Contul meu
      </a>

      <a routerLink="/my-reservations">
        Rezervarile mele
      </a>

    </div>

    <div class="actions">

      <button
        *ngIf="!isLoggedIn"
        class="login-btn"
        routerLink="/login"
      >
        Login
      </button>

      <button
        *ngIf="isLoggedIn"
        class="login-btn logout"
        (click)="logout()"
      >
        Logout
      </button>

      <div
        class="hamburger"
        (click)="toggleMenu()"
      >
        ☰
      </div>

    </div>

  </div>

</nav>