<nav class="navbar">

  <div class="container nav-content">

    <div
      class="logo"
      routerLink="/"
    >
      SportConnect
    </div>

    <div
      class="links"
      [class.active]="menuOpen"
    >

      <a routerLink="/">
        Home
      </a>

      <a
        routerLink="/"
        fragment="sports"
      >
        Find a Court
      </a>

      <a routerLink="/partner">
        Become a Partner
      </a>

      <a routerLink="/account">
        My Account
      </a>

    </div>

    <div class="actions">

      <button
        class="login-btn"
        (click)="logout()"
      >
        Logout
      </button>

      <div
        class="hamburger"
        (click)="toggleMenu()"
      >
        ☰
      </div>

    </div>

  </div>

</nav>