<section class="hero">
  <div class="overlay">

    <div class="container hero-content">

      <h1 class="fade-up">
        Elevate Your <span>Game.</span>
      </h1>

      <p class="fade-up delay-1">
        Discover and book premium sports venues in seconds.
      </p>

      <div class="search-box fade-up delay-2">
        <input placeholder="City">
        <input type="date">
        <input type="time">

        <select>
          <option>Tennis</option>
          <option>Football</option>
        </select>

        <button>Search</button>
      </div>

    </div>

  </div>
</section>