<section class="hero">
  <div class="overlay">

    <div class="container hero-content">

      <h1 class="fade-up">
        Elevate Your <span>Game.</span>
      </h1>

      <p class="fade-up delay-1">
        Discover and book premium sports venues in seconds.
      </p>

     <div class="hero-search">

      <input
        type="text"
        [(ngModel)]="searchTerm"
        placeholder="Caută un teren..."
        (keyup.enter)="searchField()"
      >

      <button
        type="button"
        (click)="searchField()"
      >
        Search
      </button>

    </div>

    <p
      class="search-error"
      *ngIf="errorMessage"
    >
      {{ errorMessage }}
    </p>

    </div>

  </div>
</section>