<section class="venues">

  <div class="container">

    <div class="section-top">

      <h2>Popular Venues</h2>

      <button class="view-all">
        View All
      </button>

    </div>

    <div class="grid">

      <div class="card fade-up" *ngFor="let v of venues">

        <div class="image-wrapper">

          <img [src]="'/' + v.img">

          <div class="overlay"></div>

          <div class="top-info">

            <span class="sport-badge">
              {{ v.sport }}
            </span>

            <button class="favorite">
              ❤
            </button>

          </div>

          <div class="rating">
            ⭐ {{ v.rating }}
          </div>

        </div>

        <div class="info">

          <div class="title-row">

            <h3>{{ v.name }}</h3>

            <span class="price">
              {{ v.price }} RON
            </span>

          </div>

          <p>{{ v.city }}</p>

          <button class="book-btn">
            Book Now
          </button>

        </div>

      </div>

    </div>

  </div>

</section>