<footer class="footer">

  <div class="container footer-content">

    <div class="footer-brand">
      <h2>SportConnect</h2>
      <p>
        Discover and book premium sports venues easily.
      </p>
    </div>

    <div class="footer-links">
      <h3>Quick Links</h3>

      <a>Home</a>
      <a>Find a Court</a>
      <a>Become a Partner</a>
    </div>

    <div class="footer-links">
      <h3>Contact</h3>

      <a>Email</a>
      <a>Instagram</a>
      <a>Facebook</a>
    </div>

  </div>

  <div class="bottom-bar">
    © 2026 SportConnect. All rights reserved.
  </div>

</footer>